/* WP Mailto Links Plugin */
.nodis { display:none; }
.rtl { unicode-bidi:bidi-override; direction:rtl; }

/* icons */
.mail-icon-1 { background:url( ../images/mail-icon-1.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-2 { background:url( ../images/mail-icon-2.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-3 { background:url( ../images/mail-icon-3.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-4 { background:url( ../images/mail-icon-4.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-5 { background:url( ../images/mail-icon-5.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-6 { background:url( ../images/mail-icon-6.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-7 { background:url( ../images/mail-icon-7.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-8 { background:url( ../images/mail-icon-8.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-9 { background:url( ../images/mail-icon-9.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-10 { background:url( ../images/mail-icon-10.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-11 { background:url( ../images/mail-icon-11.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-12 { background:url( ../images/mail-icon-12.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-13 { background:url( ../images/mail-icon-13.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-14 { background:url( ../images/mail-icon-14.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-15 { background:url( ../images/mail-icon-15.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-16 { background:url( ../images/mail-icon-16.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-17 { background:url( ../images/mail-icon-17.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-18 { background:url( ../images/mail-icon-18.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-19 { background:url( ../images/mail-icon-19.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-20 { background:url( ../images/mail-icon-20.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-21 { background:url( ../images/mail-icon-21.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-22 { background:url( ../images/mail-icon-22.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-23 { background:url( ../images/mail-icon-23.png ) no-repeat 100% 75%; padding-right:15px; }
.mail-icon-24 { background:url( ../images/mail-icon-24.png ) no-repeat 100% 75%; padding-right:17px; }
.mail-icon-25 { background:url( ../images/mail-icon-25.png ) no-repeat 100% 75%; padding-right:17px; }
